body{
    margin: 0;
    padding: 0;
    background:linear-gradient(rgb(121, 204, 252), rgb(224, 247, 255));
    height: 100vh;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
form{
    padding: 0 40px;
    box-sizing: border-box;
}
h1{
    color: rgb(107, 193, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid silver;
    padding: 0 0 20px 0;
}
#MyP{
    border: 0px;
    border-bottom: 2px solid silver;
    position: relative;
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mail{
    border-radius: 7px;
    border-color:rgba(0, 0, 0, 0.171);
    text-align: center;
}
#mail:hover{
    width: 165px;
}
#password{
    border-radius: 7px;
    border-color:rgba(0, 0, 0, 0.171);
    text-align: center;
}
#password:hover{
    width: 165px;
}
#botonIS{
    background-color: rgb(107, 193, 255);
    border-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 150px;
}
#botonIS:hover{
    width: 155px;
    cursor: pointer;

}
p{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#MyPri{
    border: 3px solid rgba(138, 212, 255, 0);
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#NyA{
    border: 3px solid rgba(138, 212, 255, 0);
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#S{
    border: 3px solid rgba(138, 212, 255, 0);
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#D{
    border: 3px solid rgba(138, 212, 255, 0);
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#botonRI{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
